{% extends "base.html" %}
{% block title%}Pokedex{% endblock title %}

{% block content  %}
		   
	<p class="p-2">Django first website.</p>
	<a href="{% url "pokedex:add_pokemon" %}">Crear Pokemon</a>
		<div class = "card-group">
			{% for pokemon in pokemons%}
				<div class='card'>
					<img src = "{{ pokemon.picture.url }}" alt = "">
					<div class = "card-body">
						<h5 class='card-title'>{{ pokemon }}</h5>
						<p class="card-text">Entrenador:{{ pokemon.trainer }}</p>
						<p class= "card-text">Peso:{{ pokemon.weight }}</p>
						<a href = "pokemon/{{pokemon.id}}" class="btn btn-primary">Dettalles</a>
				</div>
		</div>
		{% endfor %}
		</div>
		{% endblock content %}
