{% extends "base.html" %}
{% block title%}Pokedex{% endblock title %}

{% block content  %}
		   
	<p class="p-2">Django first website.</p>
	<a href="{% url "pokedex:add_pokemon" %}">Crear Pokemon</a>
		<div class = "card-group">
			{% for pokemon in pokemons%}
				<div class='card'>
					<img src="{{ pokemon.picture.url }}" alt = "" style="max-width: 200px; height: auto;">
					<div class = "card-body">
						<h5 class='card-title'>{{ pokemon }}</h5>
						<p class="card-text">Entrenador:{{ pokemon.trainer }}</p>
						<p class= "card-text">Peso:{{ pokemon.weight }}</p>
						<a href = "pokemon/{{pokemon.id}}" class="btn btn-primary">
<i class="fa-solid fa-eye"></i>
						</a>
						<a href = "edit_pokemon/{{pokemon.id}}" class="btn btn-secondary">
		<i class="fa-solid fa-pencil"></i>
                                                </a>
						<a href = "delete_pokemon/{{pokemon.id}}" class="btn btn-danger">
                <i class="fa-solid fa-trash"></i>
                                                </a>


				</div>
		</div>
		{% endfor %}
		</div>
 <div class = "card-group">                                                      
                        {% for trainer in trainers%}                                            
                                <div class='card'>                                              
                                        <img src="{{ trainer.picture.url }}" alt = "" style="max-width: 200px; height: auto;">                                                                  
                                        <div class = "card-body">                               
                                                <h5 class='card-title'>{{ trainer }}</h5>       
                                                <p class="card-text">Edad:{{ pokemon.birth_date }}</p>                                                                                       
                                                <p class= "card-text">Nivel:{{ pokemon.level }}</p>                                                                                             
                                                <a href = "pokemon/{{trainer.id}}" class="btn btn-primary">                                                                                     
<i class="fa-solid fa-eye"></i>                                                                 
                                                </a>                                            
                                                <a href = "edit_trainer/{{trainer.id}}" class="btn btn-secondary">                                                                              
                <i class="fa-solid fa-pencil"></i>                                              
                                                </a>                                            
							<a href = "delete_trainer/{{trainer.id}}" class="btn btn-danger">                                                                                 
                <i class="fa-solid fa-trash"></i>                                               
                                                </a>                                            
                                                                                                
                                                                                                
                                </div>                                                          
                </div>                                                                          
                {% endfor %}                                                                    
                </div>     
		{% endblock content %}
